body {
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
    background-color: #f2f2f2;
}

a {
    border-bottom: 1px dashed #06C;
    color: #06C
}

a:hover {
    color: #F60
}

.g-install {
    width: 640px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background-color: #FFF;
    border: 1px solid #eee;
}

.m-head {
    color: #fff;
    background-color: #dd4b39;
    text-align: center;
    padding: 20px 0;
}

.m-head h1 {
    font-size: 26px;
    font-weight: bold;
}

.m-body {
    padding: 20px;
    line-height: 25px;
}

.m-body p {
    padding-top: 10px;
}

.m-foot {
    border-top: 1px solid #eee;
    padding: 30px 0;
    text-align: center
}

.m-foot a, .m-foot button {
    padding: 8px 15px;
    margin: 0 5px;
    background-color: #f5f5f5;
    color: #666;
    border: 0;
}

.m-foot .submit {
    background-color: #dd4b39;
    color: #fff;
}

.m-form {
    line-height: 29px;
    color: #555;
}

.m-form legend {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.m-form .formitm {
    padding: 20px 0 0;
    line-height: 25px;
}

.m-form .lab {
    float: left;
    width: 140px;
    margin-right: -140px;
    text-align: left;
}

.m-form .ipt {
    margin-left: 150px;
}

.u-element {
    border: 1px solid #ddd;
    color: #444;
    background: #fff;
    padding: 5px 5px;
    max-width: 100%;
    vertical-align: middle;
    width: 260px;
}

.m-log {
}

.m-log .error {
    color: #F00
}
