
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container fluid-height clearfix">
                <div class="widget-content padded">
                    <div class="row">
                        <div class="col-xs-12 no-padding-right">
                            <div style="width: 260px; float: left;">
                                <img src="{$rootUrl}/tpl/theme/{$settheme}/thumb.png" style="width: 240px; height: 340px;"
                                     class="img-thumbnail">
                                <button type="button" class="btn btn-danger"
                                        style="margin: 6px 10px 0px 0px; width: 240px;">已设置
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="margin-top:20px;">
                            {volist name="theme" id="theme"}
                                <div style="width: 260px; float: left;">
                                    <img src="{$rootUrl}/tpl/theme/{$theme}/thumb.png"
                                         style="width: 240px; height: 340px;"
                                         class="img-thumbnail">
                                    <a href="{:url('/admin/tpl/shop/index',array('theme'=>$theme))}" type="button"
                                       class="btn btn-default"
                                       style="margin: 6px 10px 0px 0px; width: 240px;">设置</a>
                                </div>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

