body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	font-family: "Microsoft YaHei", Arial
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,select,option,textarea,p,th,td
	{
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a {
	text-decoration: none;
	color: #6FC1AB;
	outline: 0
}

a:active {
	outline: 0
}

ul {
	list-style: none;
	padding: 0;
	margin: 0
}

pre {
	font-family: "Microsoft YaHei", Arial;
	word-wrap: break-word
}

*:focus {
	outline: 0
}

.btn {
	width: 90px;
	margin: 10px;
	display: inline-block;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05)
}

.btn-success {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #6FC1AB;
	background-image: -moz-linear-gradient(top, #6FC1AB, #6FC1AB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6FC1AB),
		to(#6FC1AB));
	background-image: -webkit-linear-gradient(top, #6FC1AB, #6FC1AB);
	background-image: -o-linear-gradient(top, #6FC1AB, #6FC1AB);
	background-image: linear-gradient(to bottom, #6FC1AB, #6FC1AB);
	background-repeat: repeat-x;
	border-color: #6FC1AB #6FC1AB #6FC1AB;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6FC1AB',
		endColorstr='#6FC1AB', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.mybtn {
	border-radius: 37px;
	border: 1px solid #9a9a9a;
	font-size: 16px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	text-shadow: 1px -1px 1px #7c7979;
	background-image: -moz-linear-gradient(top, #6FC1AB, #6FC1AB);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6FC1AB),
		color-stop(1, #6FC1AB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6FC1AB',
		endColorstr='#6FC1AB', GradientType='0')
}

.none {
	display: none
}

.hotspot {
	color: #f7002b;
	font-weight: bold
}

.toolbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 45px;
	border-top: 2px solid #c1c1c1;
	background-image: -moz-linear-gradient(top, #e4e4e4, #bfbfbf);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4e4e4),
		color-stop(1, #bfbfbf));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4',
		endColorstr='#bfbfbf', GradientType='0')
}

.toolbar #before-submit {
	display: block;
	position: relative;
	display: inline-block;
	left: 50%;
	margin: 3px 0 3px -70px;
	width: 140px;
	height: 37px;
	background-image: -moz-linear-gradient(top, #b8b8b8, #bababa);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b8b8b8),
		color-stop(1, #bababa));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8B8B8',
		endColorstr='#BABABA', GradientType='0')
}

.toolbar .next {
	position: fixed;
	z-index: 0;
	bottom: 3px;
	left: 50%;
	margin-left: -70px;
	width: 140px;
	height: 37px;
	cursor: pointer;
	border: 1px solid #6FC1AB;
	box-shadow: 0 0 2px #6FC1AB
}

.toolbar .togglePic {
	display: inline-block;
	float: right;
	margin: 10px 0;
	height: 25px
}

.toolbar .togglePic img {
	height: 25px
}

.toolbar .user {
	display: inline-block;
	float: right;
	margin: 10px 12px;
	height: 25px
}

.toolbar .user img {
	height: 25px
}

.toolbar .back {
	display: inline-block;
	float: left;
	margin: 10px 12px;
	height: 25px
}

.toolbar .back img {
	height: 25px
}

.loader-mask {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	margin: -8px 0 0 -8px
}

#page_tag_load {
	display: none;
	font-size: 14px;
	position: fixed;
	bottom: 70px;
	height: 16px;
	margin-left: -8px;
	left: 50%
}

.container {
	width: 100%;
	height: 100%;
	margin-bottom: 50px
}

.header {
	position: fixed;
	top: 0;
	z-index: 1055;
	width: 100%;
	height: 40px;
	padding: 5px 0;
	-moz-box-shadow: 3px 3px 4px #c4c4c4;
	-webkit-box-shadow: 2px 2px 2px #c4c4c4;
	box-shadow: 2px 3px 2px #c4c4c4;
	background-image: -moz-linear-gradient(top, #fff, #e3e3e3);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff),
		color-stop(1, #e3e3e3));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',
		endColorstr='#E3E3E3', GradientType='0')
}

.search {
	float: left;
	width: 10%;
	margin: 7px 2%;
	cursor: pointer
}

.search img {
	display: block;
	margin: 0 auto;
	width: 26px;
	height: 26px
}

.back {
	float: left;
	width: 20%;
	margin: 7px 2%;
	cursor: pointer
}

.back img {
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 24px
}

.types {
	width: 95%;
	height: 36px;
	margin: 0px auto;
	color: #6FC1AB;
	border: 2px solid #D3D3D3;
	border-radius: 5px;
	line-height: 2;
	text-align: center;
	background-image: -moz-linear-gradient(top, #e8e8e8, #ececec);
	/* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8),
		color-stop(1, #ececec)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8',
		endColorstr='#FFFFFF', GradientType='0'); /* IE*/
	display: block;
}

.types ul {
	list-style: none;
	padding: 0;
	margin: 1px auto;
}

.types ul li {
	display: inline-block;
	width: 19%;
	cursor: pointer;
}

.types ul li.active {
	color: white;
	border-radius: 4px;
	border: 1px solid #6FC1AB;
	background-image: -moz-linear-gradient(top, #6FC1AB, #6FC1AB);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6FC1AB),
		color-stop(1, #6FC1AB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6FC1AB',
		endColorstr='#6FC1AB', GradientType='0')
}

#more-types {
	width: 16%;
	background-image: url(../img/toggle.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#types-dropdown>ul {
	width: 95%;
}

.tabs-dropdown {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	padding: 3px 0;
	width: 100%;
	background-color: #e3e3e3;
	border: 1px solid #d3d3d3;
	box-shadow: 0px 3px 3px #8d8d8d;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tabs-dropdown ul li {
	width: 25%;
	float: left;
	/*background-color: blue;*/
	border-bottom: 1px solid #d8d8d8;
}

.tabs-dropdown ul li.active {
	border: none;
}

.single-name {
	display: block;
	margin: 0 auto;
	line-height: 2;
	color: #6FC1AB;
	font-size: 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff
}

.menu {
	float: left;
	width: 10%;
	margin: 8px 2%;
	cursor: pointer
}

.menu img {
	display: block;
	margin: 0 auto;
	width: 26px;
	height: 24px
}

#menu-shadow {
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 47px;
	width: 100%;
	background: #ccc;
	background: rgba(0, 0, 0, 0.5)
}

#menu-dropdown {
	display: none;
	position: fixed;
	bottom: 52px;
	right: 5px;
	z-index: 1056;
	width: 120px;
	border-radius: 5px;
	box-shadow: 0 0 10px #aca4a4;
	background-color: rgba(68, 68, 68, 0.9);
	text-align: center;
	font-size: 18px
}

#menu-dropdown #menu-arrow {
	position: absolute;
	bottom: -10px;
	right: 10px;
	width: 0;
	height: 0;
	border-top: 10px solid rgba(68, 68, 68, 0.9);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent
}

#menu-dropdown li a {
	display: block;
	height: 35px;
	line-height: 35px;
	color: #fff
}

#menu-dropdown .divider {
	width: 100%;
	height: 1px;
	margin: 0 auto;
	background-color: #ccc
}

.marquee {
	width: 95%;
	margin: 60px auto 0 auto;
	margin-top: 53px;
	height: 21px
}

.main {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.items,.tuans {
	width: 100%;
	height: auto
}

.item,.tuan {
	float: left;
	position: relative;
	display: inline-block;
	margin: 10px 2.5%;
	width: 45%;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 6px #888;
	box-shadow: 1px 1px 6px #888;
	background: #fff
}

.item .item-title,.tuan .tuan-title {
	overflow: hidden;
	float: left;
	padding: 5px 10px;
	text-align: left;
	line-height: 1.5;
	font-size: 14px;
	white-space: nowrap;
	color: #6FC1AB;
}

.tuan .tuan-delivery-info {
	overflow: hidden;
	float: right;
	padding: 5px 10px;
	text-align: right;
	color: #6FC1AB;
	line-height: 1.5;
	font-size: 14px;
	white-space: nowrap
}

.item .item-image,.tuan .tuan-image {
	margin-top: 31px;
	width: 100%;
	height: 110px;
	text-align: center
}

.item .item-image img,.tuan .tuan-image img {
	margin-top: 1px;
	WIDTH: 100%;
	HEIGHT: 100%
}

.item .item-cost,.tuan .tuan-price {
	display: inline-block;
	float: left;
	line-height: 1.7;
	font-size: 14px;
	padding: 5px 10px
}

.item .item-price {
	display: inline-block;
	float: left;
	width: 100%;
	line-height: 1.7;
	font-size: 14px;
	padding: 0 10px
}

.item .item-price img,.tuan .tuan-price img {
	width: 10px
}

.item .item-amount,.tuan .tuan-amount {
	display: inline-block;
	float: right;
	line-height: 1.7;
	font-size: 14px;
	padding: 5px 10px
}

.item .item-amount img,.tuan .tuan-amount img {
	width: 15px
}

.item .item-detail,.tuan .tuan-detail {
	display: inline-block;
	width: 95%;
	margin-left: 2.5%;
	padding: 0;
	border-top: 1px solid #e3e3e3;
	color: #6FC1AB;
	font-size: 15px;
	line-height: 1.7;
	text-align: left;
	cursor: pointer
}

.item .item-detail a,.tuan .tuan-detail a {
	color: #6FC1AB;
}

.item.large,.tuan.large {
	width: 95%
}

.item.large .item-image,.tuan.large .tuan-image {
	width: 100%;
	height: 180px;
	text-align: center
}

.item.large .item-image img,.tuan.large .tuan-image img {
	margin-top: 82px;
	width: 16px
}

.item.large .item-cost,.tuan.large .tuan-price {
	display: block;
	float: left;
	width: 15%;
	padding: 5px 2.5%;
	line-height: 1.7
}

.item.large .item-price {
	display: block;
	float: left;
	width: 50%;
	padding: 5px 2.5%;
	line-height: 1.7
}

.item.large .item-amount,.tuan.large .tuan-amount {
	display: block;
	float: right;
	width: 32%;
	margin: 0 auto;
	text-align: right;
	padding: 5px 2.5%;
	line-height: 1.7
}

.item.large .item-detail,.tuan.large .tuan-detail {
	display: block;
	float: right;
	width: 38%;
	margin: 0;
	padding: 5px 2.5%;
	color: #6FC1AB;
	line-height: 1.7;
	font-size: 15px;
	text-align: right;
	border: 0
}

.item.large .item-detail a,.tuan.large .tuan-detail a {
	color: #6FC1AB;
}

.select-shadow {
	display: none;
	position: absolute;
	z-index: 0;
	height: 70px;
	width: 100%;
	top: 31px;
	padding-top: 40px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer
}

.select-shadow img {
	width: 25px
}

.select-shadow.large {
	height: 105px;
	padding-top: 75px
}

.select-shadow-no-img {
	display: none;
	position: absolute;
	z-index: 0;
	height: 70px;
	width: 100%;
	top: 31px;
	padding-top: 40px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	color: #fff;
	font-size: 18px;
	cursor: pointer
}

.select-shadow-no-img img {
	width: 32px
}

.select-shadow-no-img.large {
	height: 105px;
	padding-top: 75px
}

.shopping-cart {
	display: none;
	background-color: #6FC1AB;
	position: fixed;
	z-index: 0;
	bottom: 3px;
	left: 50%;
	margin-left: -70px;
	width: 140px;
	height: 37px;
	cursor: pointer;
	border: 1px solid #6FC1AB;
	box-shadow: 0 0 2px #6FC1AB
}

.detail {
	width: 95%;
	margin: 60px auto;
	background: white;
	border-radius: 5px
}

.detail-image {
	width: 100%
}

.detail-image img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%
}

.button-group {
	width: 95%;
	margin: 10px auto
}

.detail-content {
	padding: 20px 10px;
	line-height: 24px
}

.detail-content li {
	line-height: 30px
}

.done {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -25px -100px;
	width: 200px;
	min-width: 200px;
	height: 50px;
	border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	background-image: -webkit-linear-gradient(top, #fff, #e3e3e3);
	background-image: -moz-linear-gradient(top, #fff, #e3e3e3);
	background-image: -o-linear-gradient(top, #fff, #e3e3e3);
	background-image: -ms-linear-gradient(top, #fff, #e3e3e3);
	background-image: linear-gradient(top, #fff, #e3e3e3);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff),
		color-stop(1, #e3e3e3));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',
		endColorstr='#E3E3E3', GradientType='0')
}

.done img {
	width: 32px;
	margin: 11px 20px
}

.done span {
	line-height: 29px;
	display: inline-block;
	position: relative;
	top: -18px;
	right: 12px
}

.addItem {
	width: 100%;
	margin: 0
}

.backToTop {
	position: relative;
	width: 120px;
	bottom: 10px;
	margin: 20px auto;
	padding: 10px 0;
	font-weight: 600;
	color: #833030;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
	background-color: #e4d7a6;
	border-radius: 5px;
	cursor: pointer
}

.steps {
	width: 100%
}

.steps tr td {
	word-break: break-all;
	vertical-align: top
}

.steps tr td:first-child {
	width: 35%
}

.steps tr td img {
	width: 100%
}

.select-box {
	overflow: hidden;
	margin-top: 15px;
	width: 35%
}

.select-box .minus {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
	background-image: -moz-linear-gradient(top, #ededed, #e4e4e4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed),
		color-stop(1, #e4e4e4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#e4e4e4', GradientType='0');
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #b5b5b5;
	border-left: 1px solid #bfbfbf;
	border-top-left-radius: 17px;
	border-bottom-left-radius: 17px;
	font-size: 15px;
	font-family: Arial;
	font-weight: 800;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
	line-height: 35px;
	cursor: pointer
}

.select-box .minus.disabled {
	color: #c8c8c8
}

.select-box .add {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
	background-image: -moz-linear-gradient(top, #ededed, #e4e4e4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed),
		color-stop(1, #e4e4e4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#e4e4e4', GradientType='0');
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #b5b5b5;
	border-right: 1px solid #bfbfbf;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
	font-size: 25px;
	font-family: Arial;
	font-weight: 100;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
	line-height: 35px;
	cursor: pointer
}

.select-box .amount {
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 37px;
	height: 35px;
	border: 0;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #b6b6b6;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #b5b5b5;
	background-image: -moz-linear-gradient(top, #babbbc, #e2e2e2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #babbbc),
		color-stop(1, #e2e2e2));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#babbbc',
		endColorstr='#e2e2e2', GradientType='0');
	font-size: 20px;
	line-height: 35px;
	color: #555
}

.divider {
	height: 1px;
	width: 100%;
	background-color: #d5d5d5;
	border-bottom: 1px solid #f2f2f2
}

.dotted-divider {
	width: 100%;
	height: 2px;
	background-image: url(../img/dotted-line.png);
	background-repeat: repeat-x
}

.confirmation-form {
	width: 95%;
	margin: -5px auto 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: white;
	-moz-box-shadow: 0 0 10px #777;
	-webkit-box-shadow: 0 0 10px #777;
	box-shadow: 0 0 10px #777
}

.confirmation-header {
	padding-top: 5px;
	color: #6FC1AB;
	font-size: 1.3em;
	line-height: 50px;
	text-align: center
}

.confirmation-list {
	position: relative;
	width: 95%;
	margin: 0 auto
}

.confirmation-list .confirmation-item {
	overflow: hidden;
	width: 100%;
	height: 65px
}

.confirmation-list .total-info {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #d31616
}

.confirmation-item .item-info,.confirmation-item .tuan-info {
	float: left;
	width: 45%;
	height: 46px;
	margin-top: 9px;
	font-size: 13px
}

.item-info .item-name,.tuan-info .tuan-name {
	font-size: 15px
}

.item-info .item-price-info .item-total-price,.tuan-info .tuan-price-info .tuan-total-price
	{
	color: #d31616
}

.confirmation-item .select-box {
	float: left;
	width: 117px
}

.confirmation-item .delete {
	float: right;
	width: 35px;
	margin-top: 15px
}

.confirmation-item .delete img {
	width: 35px
}

.delivery-info {
	width: 95%;
	margin: 20px auto;
	text-align: center;
	padding-bottom: 20px
}

.line {
	position: relative;
	display: block;
	height: 45px;
	line-height: 45px
}

.line input[type=text],.line input[type=password],.line input[type=tel]
	{
	border: 1px solid #d6d6d6;
	height: 30px;
	line-height: normal;
	padding: 1px 5px;
	width: 65%;
	font-size: 16px;
	font-family: 'Î¢ÈíÑÅºÚ', Arial
}

select {
	width: 27.4%;
	height: 33px;
	font-size: 16px;
	font-family: 'Î¢ÈíÑÅºÚ', Arial
}

.payment {
	width: 95%;
	margin: 15px auto;
	font-size: 18px
}

.payment .line {
	margin: 10px auto
}

.payment .radio.selected {
	background-image: url(../img/select.png);
	background-position: -1px -1px
}

.payment .radio.disabled {
	background-color: #ccc
}

.payment .radio {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin: 11px 3%;
	background-color: #fff;
	border: 1px solid #6FC1AB
}

.payment .label {
	display: block;
	float: right;
	width: 85%;
	height: 45px;
	line-height: 45px;
	background-color: #fff;
	text-align: center
}

.orderResult-header {
	width: 95%;
	margin: 0 auto;
	padding-top: 5px;
	background-color: #fff;
	color: #6FC1AB;
	font-size: 1.3em;
	line-height: 50px;
	text-align: center
}

.orderResult-form {
	width: 95%;
	margin: 0 auto;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px
}

.orderResult-list {
	overflow: hidden;
	position: relative;
	width: 95%;
	margin: 0 auto
}

.orderResultList-container {
	margin-bottom: 50px
}

.smile {
	height: 15px;
	margin-right: 15px
}

.order-info {
	margin-top: 20px;
	padding-bottom: 20px
}

.order-list li {
	overflow: hidden;
	height: 35px;
	list-style: none
}

.order-list .order-item-name {
	float: left;
	width: 50%
}

.order-list .order-item-price {
	color: #d31616;
	width: 10%
}

.order-list .order-item-amount {
	float: right
}

.orderResult-form .total-info {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #d31616
}

.orderResult-form .cancelOrder,.orderResult-form .paymentOrder {
	float: right;
	height: 22px;
	line-height: 21px;
	background-color: #666;
	padding: 0 10px;
	margin-left: 10px;
	margin-right: 0px;
	text-align: center;
	font-size: .9em;
	color: white;
	border-radius: 10px;
	cursor: pointer
}

.orderResult-form .paymentOrder {
	border: none;
	background-color: #6FC1AB;
	margin-top: 0px;
	margin-bottom: 0;
}

.orderResult-form .paymentForm {
	padding: 0 0;
	margin-top: 0px;
	height: 22px;
}

.tips {
	position: relative;
	display: block;
	width: 90%;
	padding: 10px 2.5%;
	margin: 10px auto;
	background-color: #666;
	border-radius: 20px;
	color: #fff;
	text-align: center;
	font-size: 13px
}

.tips .tips-arrow {
	position: absolute;
	top: -20px;
	left: 60px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #666
}

.my-order-header {
	width: 95%;
	margin: 0 auto;
	background: #fff;
	color: #11942c;
	font-size: 1.3em;
	line-height: 50px;
	text-align: center
}

.order-header {
	height: 20px;
	line-height: 20px;
	width: 95%;
	padding-top: 10px;
	text-align: center;
	font-size: .9em;
	margin: 0 auto;
}

.myOrderList .orderResult-form {
	margin-bottom: 20px
}

.order-header .cancelOrder {
	margin: 0 10px
}

.order-status {
	float: left;
	padding: 2px 5px;
	margin-top: 0px;
	border-radius: 3px;
	color: white;
	background-color: #999
}

.dail-small {
	width: 100px;
	margin-top: 11px;
	margin-right: 0;
	float: right;
	cursor: pointer
}

.history-loader {
	width: 180px;
	margin: 20px auto;
	cursor: pointer
}

.history-loader img {
	display: block;
	float: left;
	width: 22px;
	margin-right: 10px
}

.history-loader span {
	font-size: 18px;
	line-height: 18px;
	color: #60676a;
	text-decoration: underline
}

.warning {
	color: red;
	text-align: center
}

.login-header {
	width: 265px;
	margin: 50px auto 0
}

.login-header img {
	width: 100%
}

.login-header span {
	font-size: 23px;
	line-height: 80px;
	vertical-align: top
}

.login-form {
	width: 90%;
	margin: 20px auto;
	text-align: center
}

.login-form label {
	display: inline-block;
	width: 80px;
	margin-left: -26px;
	font-size: 13px
}

.login-form input {
	width: 180px !important;
	height: 35px;
	font-size: 20px;
	line-height: normal
}

#forget {
	display: block;
	width: 280px;
	margin: 10px auto;
	text-align: right;
	cursor: pointer;
	text-decoration: underline
}

.login-header .login-tips {
	text-align: center;
	display: block;
	line-height: 0;
	font-size: 13px;
	margin-top: 10px;
	color: red
}

#login,#register,.ybtn {
	width: 100%;
	font-family: "Î¢ÈíÑÅºÚ", Arial;
}

#getPassword {
	width: 280px;
	height: 30px;
	margin-top: 15px;
	font-size: 20px;
	font-family: "Î¢ÈíÑÅºÚ", Arial;
	line-height: 20px
}

.popup {
	z-index: 3;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 70%;
	height: 150px;
	margin: -100px 0 0 -35%;
	text-align: center;
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	border-radius: 3px
}

.popup-header {
	margin: 35px auto 0;
	font-size: 16px;
	font-weight: bold
}

.popup-tips {
	margin-top: -25px
}

#orderInfo-popup .btn-group {
	position: absolute;
	left: 50%;
	margin-left: -55px;
	bottom: 10px
}

#orderConfirm-popup .btn-group {
	position: absolute;
	left: 50%;
	margin-left: -115px;
	bottom: 10px
}

#deliveryTime {
	width: 50%;
}

.form_table {
	width: 99%;
}

.td_left {
	text-align: right;
}

.td_right {
	text-align: left;
}

.td_right input[type=text],.td_right input[type=password],.td_right input[type=tel]
	{
	border: 1px solid #d6d6d6;
	height: 30px;
	line-height: normal;
	padding: 1px 5px;
	width: 90%;
	font-size: 16px;
	font-family: 'Î¢ÈíÑÅºÚ', Arial
}

.td_right .hat_select {
	width: 47%;
}

.td_right #deliveryTime {
	width: 96.5%;
}

#goodsContent a {
	color: blue;
	font-size: 16px;
}