<include file="Public:header"/>
<script type="text/javascript">
var UEURL = '__ROOT__/Public/Plugin/umeditor/';
</script>
<link href="__PUBLIC__/Plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/Plugin/umeditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Plugin/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Plugin/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/umeditor/lang/zh-cn/zh-cn.js"></script>

<div class="col-sm-12 widget-container-span">
	<div class="widget-box transparent">
		<div class="widget-header">
			<div class="widget-toolbar no-border">
				<ul class="nav nav-tabs" id="myTab">
					<li class="active"><a data-toggle="tab" href="#home1">商品管理</a></li>
					<li><a data-toggle="tab" href="#home2">添加/修改商品</a></li>
				</ul>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main padding-12 no-padding-left no-padding-right">
				<div class="tab-content padding-4">
					<div id="home1" class="tab-pane in active">
						<div class="row">
							<div class="col-xs-12 no-padding-right">
								<div class="table-responsive">
									<table id="sample-table-1"
										class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<!-- <th class="center"><label> <input
														type="checkbox" class="ace"> <span class="lbl"></span>
												</label></th> -->
												<th>ID</th>
												<th>商品名称</th>
												<th>商品分类</th>
												<th>商品价格</th>
												<th>时间</th>
												<th>操作</th>
											</tr>
										</thead>

										<tbody>
										<volist name="result" id="result">
											<tr>
												<!-- <td class="center"><label> <input
														type="checkbox" class="ace"> <span class="lbl"></span>
												</label></td> -->

												<td>{$result.id}</td>
												<td>{$result.name}</td>
												<td>{$result.menu}</td>
												<td>{$result.price}</td>
												<td>{$result.time}</td>
												<td><a href="javascript:void(0);" onclick="reGood(this);" class="btn btn-white btn-sm">修改</a><a class="J_ajax_del btn btn-white btn-sm" href="{:U('Admin/Good/delgood',array('id'=>$result['id']))}">删除</a></td>
											</tr>
										</volist>
										</tbody>
									</table>
									<div class="pagination" style="margin:0px;">
									    {$page}
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div id="home2" class="tab-pane in">
						<form class="form-horizontal J_ajaxForm" enctype="multipart/form-data" id="myform" action="{:U('Admin/Good/addgood')}" method="post">
							<div class="tabbable">
								<div class="tab-content">
									<div class="tab-pane active">
										<table cellpadding="2" cellspacing="2" width="100%">
											<tbody>
												<tr>
													<td>商品分类:</td>
													<td><select class="select_2" name="addmenuid">
															<volist name="addmenu" id="addmenu">
															<option value="{$addmenu.id}">{$addmenu.name}</option>
															</volist>
													</select></td>
												</tr>
												<tr>
													<td>商品名称:</td>
													<td><input type="text" class="input col-sm-6" name="addname" value=""></td>
												</tr>
												<tr>
													<td>商品价格:</td>
													<td><input type="text" class="input col-sm-2" name="addprice" value=""></td>
												</tr>
												<tr>
													<td>商品原价:</td>
													<td><input type="text" class="input col-sm-2" name="add_old_price" value=""></td>
												</tr>
												<tr>
													<td>商品排序:</td>
													<td><input type="text" class="input col-sm-2" name="addsort" value=""></td>
												</tr>
												<tr>
													<td>商品图片:</td>
													<td><input multiple="multiple" type="file" name="addimage">
													<p class="help-block">允许的附件文件类型: jpg,gif,png,jpeg并且图片大小小于200k.</p></td>
												</tr>
												<tr>
													<td>商品状态:</td>
													<td><select name="addstatus"><option value="1">出售</option>
														<option value="0">下架</option></select></td>
												</tr>
												<tr>
													<td>商品详情:</td>
													<td><!--style给定宽度可以影响编辑器的最终宽度-->
														<div type="text/plain" id="myEditor" style="width:660px;height:240px;">
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<button class="btn btn-primary btn_submit J_ajax_submit_btn"
									type="submit">提交</button>
								<a class="btn" href="">返回</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			var flag = true;
			function reGood(o) {
				var goodid = $(o).parent().prev().prev().prev().prev().prev().html();
				$.post("{:U('Admin/Good/getgoodid')}",{"id":goodid},function(data){
					var json = eval(data);
					
					$('select[name="addmenuid"]').val(json.menu_id);
					$('input[name="addname"]').val(json.name);
					$('input[name="addprice"]').val(json.price);
					$('input[name="add_old_price"]').val(json.old_price);
					$('input[name="addsort"]').val(json.sort);
					$('select[name="addstatus"]').val(json.status);
					$('#myEditor').html(json.detail);
					// alert(json.detail);
					
					if (flag) {
						$('input[name="addname"]').parent().append('<input type="hidden" name="goodid" value="'+json.id+'">');
						$('input[name="addimage"]').parent().append('<img src="__PUBLIC__'+json.savepath+json.image+'" id="goodimage" style="max-width:650px" class="img-thumbnail">');
						flag = false;
					}else{
						$('input[name="goodid"]').val(json.id);
						$('#goodimage').attr("src","__PUBLIC__"+json.savepath+json.image);
					}
				});
				$('#myTab li').removeClass("active");
				$('#myTab li').eq(1).addClass("active");
				$('#home1').removeClass("active");
				$('#home2').addClass("active");
			}
		</script>
		<script type="text/javascript">
	    //实例化编辑器
	    var um = UM.getEditor('myEditor');
	    um.addListener('blur',function(){
	        $('#focush2').html('编辑器失去焦点了')
	    });
	    um.addListener('focus',function(){
	        $('#focush2').html('')
	    });
	</script>
	</div>
</div>