<include file="Public:header"/>
<div class="col-sm-12 widget-container-span">
	<div class="widget-box transparent">
		<div class="widget-header">
			<div class="widget-toolbar no-border">
				<ul class="nav nav-tabs" id="myTab2">
					<li class="active"><a data-toggle="tab" href="#home1">商城设置</a></li>
					<li><a data-toggle="tab" href="#home2">模板设置</a>
				</ul>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main padding-12 no-padding-left no-padding-right">
				<div class="tab-content padding-4">
					<div id="home1" class="tab-pane in active">
						<div class="row">
							<div class="col-xs-12 no-padding-right">
								<form class="form-horizontal" role="form" action="{:U('Admin/Index/setting')}" method="post">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											for="form-field-1"> 商城名称： </label>

										<div class="col-sm-9">
											<input type="text" id="form-field-1"
												value="{$info.name}" name="name" class="col-xs-10 col-sm-6">
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right"
											for="form-field-2"> 商城公告： </label>

										<div class="col-sm-9">
											<input type="text" id="form-field-2"
												value="{$info.notification}" name="notification" class="col-xs-10 col-sm-6">
										</div>
									</div>

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i> 提交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i> 取消
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<div id="home2" class="tab-pane in">
						<div class="well well-sm"> 更多主题下载,请访问  <a href="http://www.inuoer.com">http://www.inuoer.com</a> </div>
						<div class="row">
							<div class="col-xs-12 no-padding-right">
								<div style="margin-left: 10px;">
									<div style="width: 260px; float: left;">
										<img src="__ROOT__/Theme/{$settheme}/thumb.png" style="width: 240px; height: 340px;"
											class="img-thumbnail">
										<button type="button" class="btn btn-info btn-lg btn-block"
											style="margin: -2px 10px 0px 0px; width: 240px;">已设置</button>
									</div>
								</div>
							</div>
							<div class="col-xs-12" style="margin-top:20px;">
								<volist name="theme" id="themevo">
								<div class="col-sm-4 col-md-3">
									<div style="width: 260px; float: left;">
										<img src="__ROOT__/Theme/{$themevo->dir}/thumb.png" style="width: 240px; height: 340px;"
											class="img-thumbnail">
										<a type="button" href="{:U('Admin/Index/settheme',array('name'=>$themevo->dir))}" class="btn btn-default btn-lg btn-block"
											style="margin: -2px 10px 0px 0px; width: 240px;">设置</a>
									</div>
								</div>
								</volist>
							</div>
						</div>
					</div>
					

				</div>
			</div>
		</div>
	</div>
</div>
