<li class="treeview">
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>首页</span> 
    </a>
    <ul class="treeview-menu">
        <li><a href="{:url('admin/index/index')}"><i class="fa "></i>系统首页</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-gears"></i> <span>设置</span> 
    </a>
    <ul class="treeview-menu">
        <li><a href="{:url('/admin/config/site/index')}"><i class="fa "></i>站点设置</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-edit"></i> <span>内容</span> 
    </a>
    <ul class="treeview-menu">
        <li><a href="{:url('/admin/article/category/index')}"><i class="fa "></i>文章分类</a></li>
        <li><a href="{:url('/admin/article/index/index')}"><i class="fa "></i>文章列表</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-group"></i> <span>用户</span> 
    </a>
    <ul class="treeview-menu">
        <li><a href="{:url('/admin/auth/group/index')}"><i class="fa "></i>管理员用户组</a></li>
        <li><a href="{:url('/admin/auth/admin/index')}"><i class="fa "></i>管理员列表</a></li>
        <li><a href="{:url('/admin/user/index/index')}"><i class="fa "></i>用户列表</a></li>
        <li><a href="{:url('/admin/user/level/index')}"><i class="fa "></i>会员等级</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-inbox"></i> <span>插件</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{:url('/admin/addons/index')}"><i class="fa "></i>插件管理</a></li>
        <li><a href="{:url('/admin/addons/shop')}"><i class="fa "></i>插件商店</a></li>
    </ul>
</li>
