
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">站点设置</h3>
                </div>
                <!-- form start -->
                <form action="{:url('/admin/config/site/index')}" method="post" class="form-horizontal layui-form">
                    <div class="box-body">
                        <input class="form-control" name="id" placeholder="" value="{$config.id|default='0'}"
                               type="hidden">
 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">站点名称</label>

                            <div class="col-sm-4">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" 
                                class="form-control" value="{$config.title|default=''}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>

                            <div class="col-sm-4">
                                站点名称将显示在浏览器的标题栏
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键词</label>

                            <div class="col-sm-4">
                                <input class="form-control" name="keywords" placeholder="" value="{$config.keywords|default=''}"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">站点Logo</label>

                            <div class="col-sm-10">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new img-thumbnail">
                                        {empty name="config.logo_id"}
                                            <img src="__PUBLIC__/static/dist/img/noimage.gif">
                                        {else /}
                                            <img src="__PUBLIC__/uploads/{$config['logo']['savepath']}{$config['logo']['savename']}">
                                        {/empty}
                                        <input class="form-control" name="logo_id" id="file_id" placeholder="" value="{$config.logo_id|default=''}" type="hidden">
                                        <div class="edit_pic_mask">
                                            <i class="fa fa-plus-circle" onclick="imageUploader(this,false)"></i>
                                            <i class="fa fa-minus-circle" onclick="removeImage(this,false)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">站点描述</label>

                            <div class="col-sm-6">
                                <textarea class="form-control" name="description" placeholder="" rows="3">{$config.description|default=''}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">版权</label>

                            <div class="col-sm-6">
                            	<input class="form-control" name="copyright" placeholder="" value="{$config.copyright|default=''}"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">统计代码</label>

                            <div class="col-sm-6">
                                <textarea class="form-control" name="tongji_code" placeholder="" rows="3">{$config.tongji_code|default=''}</textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="col-sm-2">
                            <button class="btn btn-block btn-danger" lay-submit lay-filter="shopSet">保存</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
        <!--/.col (right) -->
    </div>
</section>
<script>
    layui.use('form', function() {
        var form = layui.form();
        form.render(); //更新全部
        //监听提交
        // form.on('submit(shopSet)', function(data) {
            // console.log(data.field);
            // layer.msg(JSON.stringify(data.field));
            // return false;
        // });
    });
</script>
