<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- /.col -->
		<div class="col-md-12">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">文章列表</h3>
				</div>
				<div style="margin-top: 10px;">
                    <div class="btn-group" style="margin-left: 10px;">
                        <a href="{:url('/admin/article/index/add')}" class="btn btn-danger ">
							新增文章
						</a>
                    </div>
                </div>
				<div class="box-body table-responsive">
					<table class="table table-bordered table-hover">
						<tbody>
							<tr>
								<th class="hidden-xs">
									<label><input onchange="checkAll()" type="checkbox" value=""></label>
								</th>
								<th>编号</th>
								<th>标题</th>
								<th>分类</th>
								<th>作者</th>
								<th>状态</th>
								<th>备注</th>
								<th>时间</th>
								<th>操作</th>
							</tr>
							{volist name="articlelist" id="article"}
							<tr>
								<td class="hidden-xs">
									<label><input name="checkbox" class="check" type="checkbox"
												  value="{$article.id}"></label>
								</td>
								<td>
									{$article.id}
								</td>
								<td>
									《{$article.title}》
								</td>
								<td>
									{$article.category.name}
								</td>
								<td>
									{$article.author}
								</td>
								<td>
                                    {eq name="article.status" value="1"}
                                    	<span class="label label-success">开启</span> 
                                    {else/}
                                    	<span class="label label-default">关闭</span> 
                                    {/eq}
                                </td>
								<td>
									{$article.remark}
								</td>
								<td>
									{$article.created_at}
								</td>
								<td class="table-action">
									<a href="{:url('/admin/article/index/add',array('id'=>$article['id']))}">编辑</a>
									{eq name="article.status" value="0"}
                                    <a href="{:url('/admin/article/index/update',array('id'=>$article['id'],'status'=>1))}">开启</a> 
                                    {else}
                                    <a href="{:url('/admin/article/index/update',array('id'=>$article['id'],'status'=>0))}">关闭</a> 
                                    {/eq}
									<!-- <a href="{:url('/admin/article/index/del',array('id'=>$article['id']))}">删除</a> -->
								</td>
							</tr>
							{/volist}
						</tbody>
					</table>
				</div>
				<div class="box-footer table-responsive">
					<div class="btn-group">
                        <button type="button" class="btn btn-danger"
                                onclick="batchUrl('{:url(\'/admin/article/index/update\',array(\'status\'=>1))}')">
                            开启
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger"
                                onclick="batchUrl('{:url(\'/admin/article/index/update\',array(\'status\'=>0))}')">
                            关闭
                        </button>
                    </div>
					<!-- <div class="btn-group">
                        <button type="button" class="btn btn-danger"
                                onclick="batchUrl('{:url(\'/admin/article/index/del\')}')">删除
                        </button>
                    </div> -->
					<div class="btn-group">
					</div>
					<div class="pull-right">
						{$articlelist->render()}
					</div>
				</div>
			</div>
			<!-- /. box -->
		</div>
		<!-- /.col -->
	</div>
</section>
<script type="text/javascript">
	
</script>