<include file="Public/header" />

<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
		<li id="dingdan">
			<a href="__MODULE__/Admin/index">订单</a>
		</li>
		<li class="dropdown active" id="shangpin">
			<a href="javascript:void(0)" class="dropdown-toggle"
				data-toggle="dropdown">
				商品
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="__MODULE__/Admin/productcate">商品分类</a>
				</li>
				<li>
					<a href="__MODULE__/Admin/product">商品管理</a>
				</li>
			</ul>
		</li>
		<li class="dropdown" id="weixinset">
			<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
				微信设置
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="__MODULE__/Weixin/index" id="weixinset">微信初始化</a>
				</li>
				<li>
					<a href="__MODULE__/Weixin/autoreplay" id="weixinset">自动回复</a>
				</li>
				<li>
					<a href="__MODULE__/Weixin/diynav" id="weixinset">自定义菜单</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="javascript:void(0)">{{$username}}</a>
		</li>
		<li>
			<a href="__MODULE__/Admin/quit">退出</a>
		</li>
	</ul>
</div>
<!--/.nav-collapse -->
</div>
</div>
<div class="container" style="padding-top:20px">
	<form class="form-horizontal" enctype="multipart/form-data" role="form" method="post"
		action="__CONTROLLER__/addproduct">
		<div class="form-group" style="display:none;">
			<label for="title" class="col-sm-2 control-label">商品序号</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="id"  value="{{$prosel[0][id]}}" placeholder="添加商品时此处留空">
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">分类序号</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="cate_id"  value="{{$prosel[0][cate_id]}}">
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">商品名称</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="title"  value="{{$prosel[0][title]}}">
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">商品价格</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="price"  value="{{$prosel[0][price]}}">
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">商品原价</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="old_price"  value="{{$prosel[0][old_price]}}">
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">商品图片</label>
			<div class="col-sm-5">
				<input type="hidden" name="noupimg" value="{{$prosel[0][img]}}">
				<input multiple="multiple" class="btn btn-default" type="file" name="img">
				允许的附件文件类型: jpg,gif,png,jpeg 并且图片大小小于200k
				<notempty name="prosel"><img src="__ROOT__/Uploads/{{$prosel[0][img]}}" class="img-thumbnail"></img></notempty>
				
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">商品详情</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" name="detail"  value="{{$prosel[0][detail]}}">
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" name="reproduct" value="reproduct"
					class="btn btn-primary">提交</button>
			</div>
		</div>
	</form>
</div>

<include file="Public/footer" />