
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="callout callout-danger">
                <p>关键词:subscribe 设置关注自动回复</p>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">微信自定义回复</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <a href="{:url('/admin/wx/reply/add')}" class="btn btn-danger ">
                                新增自定义回复
                            </a>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <div class="table-responsive" style="overflow-x: visible;">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <th class="hidden-xs">
                                    <label><input onchange="checkAll()" type="checkbox" value=""></label>
                                </th>
                                <th>ID</th>
                                <th>类型</th>
                                <th>标题</th>
                                <th>描述</th>
                                <th>图片</th>
                                <th>链接</th>
                                <th>关键词</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>

                            {volist name="replylist" id="replylist"}
                                <tr>
                                    <td class="hidden-xs">
                                        <label><input name="checkbox" class="check" type="checkbox"
                                                      value="{$replylist.id}"></label>
                                    </td>
                                    <td>{$replylist.id}</td>
                                    <td>
                                        {eq name="replylist.type|default=''" value="news"}图文{/eq}
                                        {eq name="replylist.type|default=''" value="text"}文本{/eq}
                                    </td>
                                    <td>{$replylist.title|substr=0,12}</td>
                                    <td>{$replylist.description|substr=0,12}</td>
                                    <td>
                                        <div class="btn-group" style="margin: 0px;">
                                            {empty name="replylist.file_id"}
                                                <img style="height: 50px" src="__PUBLIC__/static/dist/img/noimage.gif">
                                            {else /}
                                                <img style="height: 50px"
                                                src="__PUBLIC__/uploads/{$replylist['file']['savepath']}{$replylist['file']['savename']}">
                                            {/empty}
                                        </div>
                                    </td>
                                    <td>{$replylist.url}</td>
                                    <td>{$replylist.key}</td>
                                    <td>{$replylist.remark}</td>
                                    <td class="table-action"><a
                                            href="{:url('/admin/wx/reply/add',array('id'=>$replylist['id']))}">修改</a><a
                                            href="{:url('/admin/wx/reply/del',array('id'=>$replylist['id']))}">删除</a>
                                    </td>
                                </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <div class="box-footer no-padding">
                            <div class="mailbox-controls">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger"
                                            onclick="batchUrl('{:url(\'/admin/wx/reply/del\')}')">全部删除
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>